<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cplh.springboot.mybatis.dao.ClsMapper">
    
    <resultMap id="BaseResultMap" type="com.cplh.springboot.mybatis.entity.Cls">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cname" property="cname" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.cplh.springboot.mybatis.entity.Cls">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cname" property="cname" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <!-- 使用collection配置1对N-->
        <collection property="students" ofType="com.cplh.springboot.mybatis.entity.Student" column="cid">
            <id column="sid" property="id" jdbcType="INTEGER"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="age" property="age" jdbcType="INTEGER"/>
            <result column="sex" property="sex" jdbcType="VARCHAR"/>
            <result column="address" property="address" jdbcType="VARCHAR"/>
            <result column="cid" property="cid" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, cname, total
    </sql>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cls
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!-- s.id as sid 子表和父表id区分 -->
    <select id="selectClsAndStudent" resultMap="BaseResultMap2" parameterType="java.lang.Integer">
        select
            c.id, c.cname, c.total, s.id as sid, s.name, s.age, s.sex, s.address, s.cid
        from cls c inner join student s on c.id = s.cid
        where c.id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from cls
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.cplh.springboot.mybatis.entity.Cls">
        insert into cls (id, cname, total)
        values (#{id,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER})
    </insert>
    
    <insert id="insertSelective" parameterType="com.cplh.springboot.mybatis.entity.Cls">
        insert into cls
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cname != null">
                cname,
            </if>
            <if test="total != null">
                total,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
            <if test="total != null">
                #{total,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.cplh.springboot.mybatis.entity.Cls">
        update cls
        <set>
            <if test="cname != null">
                cname = #{cname,jdbcType=VARCHAR},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.cplh.springboot.mybatis.entity.Cls">
        update cls
        set cname = #{cname,jdbcType=VARCHAR},
            total = #{total,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>